*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 130vh;
}
.title{
    .why{
        font-size: 50px;
        font-weight: lighter;
        color:$first-color;
    }
    .code_academy{
        font-size: 50px;
        font-weight: bolder;
        line-height: 10px;
        letter-spacing: -1.2px;
        color:$first-color;
    }
    .rainbow_bar{
        background: rgb(10,224,56);
        background: linear-gradient(90deg, rgba(10,224,56,1) 0%, rgba(11,73,146,1) 17%, rgba(93,12,136,1) 35%, rgba(222,36,23,1) 54%,
        rgba(215,124,18,1) 71%, rgba(255,248,0,1) 100%);
        width: 100px;
        height:3px;
        margin:70px 0px 50px 0px;
    }
}

.item{
    display: flex;
    margin-top: 50px;
    img{
        width: 209px;
        height: 209px;
        cursor: pointer;
    }
    .text{
        padding-right: 35px;
        margin-right: 0px;
        h2{
            font-size: 21px;
            font-weight:bolder ;
            cursor: pointer;
        }
        .etrafli{
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
        }
    }
}

@media screen and (max-width:768px){   
    .text{
        padding: 0px !important;
    }
    img{
        display: none;
    }
} 
@media screen and (min-width:768px) and (max-width:992px){
    .text{
            padding-left: 50px;
            margin-right: 0px;
        }
    }
