section{
    font-size: 16px;
    width: 100%;
    height: 130vh;
}
.col-6{
    margin-top:40px;
}
.why{
    font-size: 50px;
    font-weight: lighter;
    color:$first-color;
}
.code_academy{
    font-size: 50px;
    font-weight: bolder;
    line-height: 10px;
    letter-spacing: -1.2px;
    color:$first-color;
}
.rainbow_bar{
    background: rgb(10,224,56);
    background: linear-gradient(90deg, rgba(10,224,56,1) 0%, rgba(11,73,146,1) 17%, rgba(93,12,136,1) 35%, rgba(222,36,23,1) 54%,
    rgba(215,124,18,1) 71%, rgba(255,248,0,1) 100%);
    width: 100px;
    height:3px;
    margin:70px 0px 50px 0px;
}
img{
width: 209px;
height: 209px;
cursor: pointer;
}
.item{
    display: flex;
    margin-top: 50px;
}

.text h2{
font-size: 21px;
font-weight:bolder ;
cursor: pointer;
}
.etrafli{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
@media screen and (max-width:768px){
    section{
        .container{
            width: 100%;
            margin: 0px 60px;
           .title{
               margin-left: -50px;
           }

        }
        .why{
            font-size: 34px;
            font-weight: lighter;
        }
        .code_academy{
            font-size: 34px;
            font-weight: bolder;
            line-height: 1px;
            letter-spacing: -1.2px;
        }
        img{
            display: none;
        }
        .item{
            margin-top: 60px;
        }
        .text{
            margin-left:-50px
        }
        .text h2{
        font-size: 21px;
        font-weight:bolder ;
        cursor: pointer;
        }
        .etrafli{
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
        }
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    section{
        .container{
            width: 100%;
           .title{
               margin-left: -50px;
           }

        }
        .code_academy{
            line-height: 1px;   
        }
        img{
            width: 220px;
            height: 200px;
        }
        .item{
            display: flex;
            margin-top: 60px;
        
                .text{
                    margin-left: 50px;
                }   
        }  
    }  
}
