section{
    font-size: 16px;
   
}
.col-6{
    margin-top:40px;
}
.why{
    font-weight: lighter;
}
.code_academy{
    font-weight: bolder;
}
.test{
    display: flex ;
}
img{
width: 209px;
height: 209px;
}
.item{
    display: flex;
}
.text{
    margin-left:-50px
}
.text h2{
font-size: 21px;
font-weight:bolder ;
cursor: pointer;
}
.etrafli{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
